body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  padding: 0 !important;
}

/* Header for each page */
.siteHeader {
  background-color: #1B2937;
  color: #fff;
  height: 5rem;
  margin-bottom: 2rem;
}

.siteHeaderTitle {
  font-size: 40px;
  font-family: var(--bs-body-font-family);
}

.sectionTitle {
  font-family: var(--bs-body-font-family);
}